/* @media (min-width: 50rem) {
    .main-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: 1fr 3fr 1fr;
        gap: 1rem;
    }
} */

.page-title-banner {
    background-color: #3D977D;
    color: white;
    background-size: cover;
    background-position: center center;
    padding: 1rem;
}

button {
    border: none;
    padding: 0.5rem 1rem;
}